*{
    background-color: pink;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: palevioletred;
}

h3,h4,p{
    color:rebeccapurple;
    font-weight: bold;
}

.contenedor{
    display: flex;
    gap:20px;
}

.columna{
    flex:1;
    padding:15px;
}

.hr1{
    height:3px;
    background-color: rgb(238, 137, 154);
    border:none;
}

.hr2{
    height:3px;
    background-color: rgb(231, 92, 115);
    border:none;
}

img{
    border-radius: 50%;
}

.imagencircular{
    margin-top: 40px;
}

a{
    text-decoration: none;
    color:rebeccapurple;
    font-weight: bold;
}
